body {
    background: black;
    margin: 0;
    overflow: hidden;
}

.flowers {
    position: relative;
    transform: scale(0.9);
}

.flower {
    position: absolute;
    bottom: 10vh;
    transform-origin: bottom center;
    z-index: 10;
    --t-speed: 0.8s;
}

.flower-1 {
    animation: moving-flower-1 4s linear infinite;
}

.flower__line {
    height: 70vh;
    animation-delay: 0.3s;
}

.flower__line__leaf--1 {
    animation: blooming-leaf-right var(--t-speed) ease-in-out infinite alternate;
}

@keyframes moving-flower-1 {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

@keyframes blooming-leaf-right {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
